.hexagonsWrapper {
    position: relative;
    max-width: 100vw;
    display: flex;
    top: -65px;
    justify-content: center;
    left: -10px;

    & ul {
        position: relative;
        width: 121px;

        &:nth-of-type(even) {
            top: 65px;
        }
    }
}

.hexagon {
    position: relative;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0 50%);
    height: 130px;
    width: 115%;
    background-image: url("/polygon-background.png");
    margin-top: 2px;
    background-size: cover;
    background-position: center;

    &:hover {
        & div {
            opacity: 1;
        }
    }

    & div {
        background-color: rgba(142, 166, 170, 100%);
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4px;
        opacity: 0;
        box-shadow: inset 0 14px 20px rgba(0, 0, 0, 35%);
        transition: opacity 0.1s ease;

        & p {
            cursor: context-menu;
        }

        & p:first-of-type {
            font-size: 14px;
            font-family: 'Kadwa', serif;
            margin-bottom: -4px;
        }

        & p:last-of-type {
            font-size: 12px;
        }
    }
}