.hexagonsWrapper {
    position: relative;
    max-width: 100vw;
    display: flex;
    top: -65px;
    justify-content: center;
    overflow: hidden;

    & ul {
        position: relative;
        width: calc(100vw/11.3);
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-of-type(even) {
            top: 5vw;
        }
    }

    @media (max-width: 400px) {
    overflow: visible;

        & ul {
            width: calc(100vw/6.3);

            &:nth-of-type(even) {
                top: 9vw;
            }

            &:nth-of-type(odd) {
                top: 1vw;
            }
        }
    }
}

.hexagon {
    position: relative;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0 50%);
    height: 9.5vw;
    width: 10vw;
    background-image: url("/polygon-background.png");
    box-shadow: inset 0 10px 8px rgba(0, 0, 0, 35%);
    margin-top: 0.2vw;
    background-size: cover;
    background-position: center;

    &:hover {
        & div {
            opacity: 1;
        }
    }

    & div {
        background-color: rgba(142, 166, 170, 100%);
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4px;
        opacity: 0;
        box-shadow: inset 0 14px 20px rgba(0, 0, 0, 35%);
        transition: opacity 0.1s ease;

        & p {
            cursor: context-menu;
        }

        & p:first-of-type {
            font-size: 14px;
            font-family: 'Kadwa', serif;
            margin-bottom: -4px;
        }

        & p:last-of-type {
            font-size: 12px;
        }
    }

    @media (max-width: 400px) {
        height: calc(100vw/6);
        width: calc(100vw/5.8);
    }
}